* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

#visual {
    position: absolute;
    top: -330px;
}

.mobileView {
    display: none;
}

.desktopView {
    display: block;
}

#video {
    min-width: 100%;
    max-width: 100%;
    display: block !important;
    
}

@import "components/_fonts";
@import "components/_header";
@import "components/_about";
@import "components/_production";
@import "components/_scenario";
@import "components/_postProduction";
@import "components/_quote";
@import "components/_footer";

@media (max-width: 500px) {
    .mobileView {
        display: block;
    }

    .desktopView {
        display: none;
    }
}