.about{
    background-color: #FFFFFF;
    padding: 112px 7.7%;
    width: 1220px;
    margin: 0 auto;

    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & h2 {
            @include Oswald;
            font-size: 96px;
            letter-spacing: 0.02em;
        }

        & div {
            width: 139px;
            height: 2px;
            background-color: #000000;

            margin: 24px 0px;
        }

        & p {
            @include Raleway;
            font-size: 22px;
            line-height: 30.8px;
            text-align: center;
        }
    }

    &__wrapper {

        & h2 {
            @include Oswald;
            text-transform: uppercase;
            font-size: 128px;
            line-height: 120px;
            letter-spacing: 0.02em;
            color: #000000;
            
            transform: rotate(-90deg);
        }
    }

    &__inner{

        display: flex;
        justify-content: space-between;
        align-items: top;

        & p {
            @include Raleway;
            font-size: 22px;
            line-height: 31px;
            color: #000000;
        }

        &--images {
            display: flex;
            flex-direction: column;
        }
    }
}

@media (max-width: 1220px) {
    .about {
        width: 100%;
        padding: 112px 5%;
    }
}

@media (max-width: 800px) {
    .about {
        padding: 45px 5%;
    }
}

@media (max-width: 600px) {
    .about__title p {
        font-size: 18px;
    }

    .about__title h2 {
        font-size: 76px;
    }
}