.footer {
    max-width: 1220px;
    margin: 0 auto;
    padding-bottom: 100px;

    & h2 {
        color: #000000;
        @include Oswald;
        font-size: 64px;
        line-height: 70px;
        letter-spacing: 0.02em;
        margin-bottom: 25px;
    }

    &__email {
        display: flex;
        align-items: center;

        & svg {
            margin-right: 25px;
        }

        & p {
            @include Raleway;
            font-size: 24px;
            color: #000000;
        }
    }
}

@media (max-width: 1440px) {
    .footer {
        max-width: 100%;
        padding: 0px 30px 20px 30px;
    }
}

@media (max-width: 600px) {
    .footer h2 {
        font-size: 40px;
        margin-bottom: 0px;
    }

    .footer__email p {
        font-size: 18px;
    }

    .footer {
        padding-bottom: 15px;
    }
}