.header{
    display: grid;
    grid-template-columns: 50% 50%;
    max-height: 100vh;
    height: 100vh;
    position: relative;

    &__title{
        position: absolute;
        top: calc(50vh - 180px);
        bottom: calc(50vh - 180px);
        left: calc(50vw - 377px);
        right: calc(50vw - 377px);
        text-align: center;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        &--1{
            top: calc(50vh - 80px);
            bottom: calc(50vh - 80px);
        }

        &--2{
            top: calc(50vh - 80px);
            bottom: calc(50vh - 80px);
        }

        &--3{
            top: calc(50vh - 120px);
            bottom: calc(50vh - 120px);
        }

        &--4{
            top: calc(50vh - 80px);
            bottom: calc(50vh - 80px);
        }

        & h1 {
            @include Oswald;
            font-size: 128px;
            line-height: 120px;
            letter-spacing: 0.02em;
            text-align: center;
            color: #FFFFFF;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            text-transform: uppercase;
        }

        &--bracket {
            &1 {
                margin-right: 15px;
            }

            &2 {
                margin-left: 15px;
            }
        }

        &--svg {
            
            &1 {
                height: 270px;
            }

            &2 {
                height: 270px;
            }

            &3 {
                height: 282px;
            }

            &4 {
                height: 270px;
            }
        }
    }

    &__item{
        max-width: 50vw;
        max-height: 50vh;
        position: relative;
        cursor: pointer;

        & img {
            width: 50vw;
            height: 50vh;
            display: block;
            object-fit: cover;
            filter: grayscale(100%);
            -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
            z-index: 10;
            transition: 0.5s;
            
            &:hover{
                transition: 0.5s;
                filter: grayscale(0%);
                -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
            }
        }

        &:nth-child(2)::after {
            content: '';
            width: 2px;
            background-color: #FFFFFF;
            position: absolute;
            right: 0;
            top: 0;
            height: 16vh;
            z-index: 5;
        }

        &:nth-child(2)::before {
            content: '';
            width: 20vh;
            background-color: #FFFFFF;
            position: absolute;
            left: 0;
            bottom: 0;
            height: 2px;
            transform: rotate(180deg);
            z-index: 5;
        }

        &:nth-child(3)::after {
            content: '';
            width: 20vh;
            background-color: #FFFFFF;
            position: absolute;
            right: 0;
            bottom: 0;
            height: 2px;
            transform: rotate(180deg);
            z-index: 5;
        }

        &:nth-child(4)::after {
            content: '';
            width: 2px;
            background-color: #FFFFFF;
            position: absolute;
            right: 0;
            bottom: 0;
            height: 16vh;
            z-index: 5;
        }
    }
}

@media (max-width: 1000px) {
    #title {
        font-size: 76px;
        line-height: 100%;
    }

    .header__title--bracket1 svg {
        width: 20px;
    } 
    
    .header__title--bracket2 svg{
        width: 20px;
    }

    .header__item[data-title='1'] img {
        object-position: 0%;
    }

    .header__item[data-title='2'] img {
        object-position: 0%;
    }

    .header__item[data-title='3'] img {
        object-position: 100%;
    }

    .header__title {
        left: 50vw;
        right: 50vw;
    }
}


@media (max-width: 580px) {
    .header__item[data-title='2'] img {
        object-position: 25%;
    }
}

@media (max-width: 540px) {
    #title {
        font-size: 48px;
    }

    .header__title--bracket1 svg {
        width: 13px;
    } 
    
    .header__title--bracket2 svg{
        width: 13px;
    }
}

@media (max-width: 500px) {
    .header__item[data-title='3'] img {
        object-position: 90%;
    }
}