.production{
    &__wrapper {
        // padding-left: 112px;
        position: relative;
        max-width: 1440px;
        margin: 0 auto;
        padding: 0px 5px
    }

    &__title{
        position: absolute;
        left: 125px;
        top: 30px;
    }

    &__inner{
        max-width: 1330px;
        margin: 0 0 0 auto;
        display: flex;
        justify-content: flex-end;

        & p {
            @include Raleway;
            font-size: 22px;
            line-height: 31px;
            color: #000000;
            width: calc(50% - 380px);
            margin: 30px 50px 0px 0px;
            width: 368px;
        }

        &--images {
            display: flex;
            flex-direction: column;
            width: 720px;
            text-align: right;

            & img {
                width: 720px;
                display: block;
                height: auto;
                margin-bottom: 5px;
                object-fit: cover;
            }
        }
    }

    &__bottom {
        padding: 0px 5px;

        & img {
            display: block;
            width: 1430px;
            margin: 0 auto;
            object-fit: cover;
        }
    }
}

@media (max-width: 1400px) {
    .production {

        &__wrapper {
            max-width: 100%;
        }

        &__title {
            left: 50px;
        }

        &__bottom img {
            width: 100%;
        }
    }
}

@media (max-width: 1350px) {
    .production__title {
        left: 5px;
    }
}

@media (max-width: 1300px) {
    .production__inner {
        max-width: 100%;

        & p {
            margin: 30px 30px 0 0;
        }
    }
}

@media (max-width: 1270px) {

    .production__inner p {
        margin: 30px 2% 0 2%;
    }

    .production__inner--images {
        width: 50%;

        & img {
            width: 100%;
        }
    }
}

@media (max-width: 1220px) {
    .production__title {
        z-index: 2;
        position: relative;
    }

    .production__title {
        height: 40vw;
        position: static;
    }
}

@media (max-width: 800px) {
    .production__inner p {
        font-size: 16px;
        width: 40%;
    }

    .production__inner--images {
        justify-content: flex-end;
    }
}