.production{
    padding-top: 50px;
    
    &__wrapper {
        // padding-left: 112px;
        position: relative;
        max-width: 1440px;
        margin: 0 auto;
        padding: 0px 5px
    }

    &__title{
        position: absolute;
        left: 125px;
        top: 30px;
    }

    &__inner{
        max-width: 1330px;
        margin: 0 0 0 auto;
        display: flex;
        justify-content: flex-end;

        & p {
            @include Raleway;
            font-size: 22px;
            line-height: 31px;
            color: #000000;
            width: calc(50% - 380px);
            margin: 30px 50px 0px 0px;
            width: 368px;
        }

        &--images {
            display: flex;
            flex-direction: column;
            width: 720px;
            text-align: right;

            & img {
                width: 720px;
                display: block;
                margin-bottom: 5px;
                object-fit: cover;
            }
        }
    }

    &__bottom {
        padding: 0px 5px;

        & img {
            display: block;
            width: 1430px;
            margin: 0 auto;
            object-fit: cover;
        }
    }
}

@media screen and (min-height: 800px) and (max-height: 1000px) and (min-width: 1400px) {
        .production__inner--images img {
            height: 29vh;
        }

        .production__bottom img {
            height: 39vh;
        }

        .production__title {
            height: 90vh;
        }
}

@media (max-width: 1430px) {
    .production {

        &__wrapper {
            max-width: 100%;
        }

        &__title {
            left: 50px;
        }

        &__bottom img {
            width: 100%;
        }
    }
}

@media (max-width: 1350px) {
    .production__title {
        left: 5px;
    }
}

@media (max-width: 1300px) {
    .production__inner {
        max-width: 100%;

        & p {
            margin: 30px 30px 0 0;
        }
    }
}

@media (max-width: 1270px) {

    .production__inner p {
        margin: 30px 2% 0 2%;
    }

    .production__inner--images {
        width: 50%;

        & img {
            width: 100%;
        }
    }
}

@media (max-width: 1220px) {
    .production__title {
        z-index: 2;
    }

    .production__title {
        height: 50vw;
    }
}

@media (max-width: 960px) {
    .production__title {
        position: static;
    }

    .production__inner--images {
        justify-content: flex-end;
    }
}

@media (max-width: 800px) {
    .production__inner p {
        font-size: 16px;
        width: 40%;
    }

    .production__inner--images {
        justify-content: flex-end;
    }
}

@media (max-width: 600px) {
    .production__inner p {
        font-size: 14px;
        line-height: 150%;
        margin: 0px 2% 0 2%;
    }
}

@media (max-width: 500px) {
    .production__inner {
       flex-direction: column;
       align-items: center;
       justify-content: center;

       & h2 {
            @include Oswald;
            font-size: 40px;
            line-height: 94%;
            letter-spacing: 0.02em;
            color: #000000;
            text-align: center;

            margin: 20px 0px;
        }

       & p {
            margin: 5px 0px 5px 0px;
            width: 100%;
            padding: 0px 5px 10px 5px;
            text-align: center;
        }
    }

    .production__inner--images {
        width: 100%;
    }

    
}

@media (max-width: 400px) {
    .production__inner p {
        margin-bottom: 5px;
    }
}