.quote {
    max-width: 1220px;
    margin: 220px auto;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & h3 {
            @include RalewayMediumItalic;
            font-size: 48px;
            text-align: center;
            color: #000000;
        }
    }

    &__author {
        @include RalewayItalic;
        font-size: 32px;
        line-height: 30px;
        text-align: right;
        color: #000000;
        margin-top: 70px;
    }
}